<h1 *ngIf="!isChange" mat-dialog-title>Create Element</h1>
<h1 *ngIf="isChange" mat-dialog-title>Edit Element</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Título</mat-label>
    <input matInput [(ngModel)]="data.Nome">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Lançamento</mat-label>
    <input matInput [(ngModel)]="data.Ano">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Diretor</mat-label>
    <input matInput [(ngModel)]="data.Diretor">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Elenco</mat-label>
    <input matInput [(ngModel)]="data.Elenco">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button *ngIf="!isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Create</button>
  <button *ngIf="isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Edit</button>
</div>